body {padding-top: 60px;}
.container-fluid > .content {margin-left:0px;}

.topbar-inner .pull-right {
  color:#626262;
}

.stats {
  background-color: #F5F5F5;
  border-radius: 6px 6px 6px 6px;
  padding: 20px;
  float:left;
  width:15%;
}

.stats p {
  color: #444;
  font-size: 4.2em;
  margin: 40px 0 41px;
  text-align: center;
  font-weight:bold;
}

.stats .label {
  font-weight:normal;
  vertical-align:middle;
}

#graph {
  float:right;
  width:78%;
}

footer p {
  text-align:right;
  color:#666;
  font-size:0.85em;
}

.page-header {position:relative;}

.page-header .button_to, .page-header a.btn {
  position:absolute;
  right:0px;
  top:5px;
}

.page-header img {
  vertical-align:middle;
  margin-right:15px;
}

div.project {
  background-color: #F5F5F5;
  border-radius: 6px 6px 6px 6px;
  padding: 20px;
  text-align:center;
  position:relative;
  width:120px;
}

div.project:hover {
  background-color: #EEE;
}

.projects a:hover {
  text-decoration:none;
}

.project h2 {
  font-size:2.6em;
  margin-bottom:15px;
}

.count {
  z-index:2;
  cursor:pointer;
  background: #CC0000;
  color: white;
  border: 2px solid white;
  font-size: 0.8em;
  font-weight: bold;
  position: absolute;
  line-height: 100%;
  padding: 0.5em 0.7em;
  right: -1.2em;
  top: -0.7em;
  border-radius:1.2em;
  box-shadow:1px 1px 1px rgba(0, 0, 0, 0.5);
}

.authors {
  margin-left:0px;
}

.authors li, .author img, .author div {
  display:inline-block;
  vertical-align:top;
}

.author {
  position:relative;
  border: 1px solid #DDD;
  background: #EEE;
  padding: 5px;
  border-radius: 3px;
}

.authors li:hover {
  background:#DDD;
}

.authors a {
  text-decoration:none;
}

.author img {
  margin-right:5px;
  background:#FFF;
  padding:1px;
}

li.author {
  margin: 0 7px 7px 0;
  width:280px;
}
li.author div {
  width:220px;
}

.author h4 {
  line-height:16px;
  margin:3px 0px 4px;
}

.author p {
  color:#888 !important;
  margin-bottom:0px;
}

#current_author {
  position:relative;
  margin:-20px 0 10px;
  box-shadow:0 -1px 2px rgba(0, 0, 0, 0.2);
}
