<div class="page-header">
  <h1>Sign In</h1>
</div>


<ul class="media-grid">
  <% @authors.each do |author| %>
    <li><%= link_to image_tag(avatar_url(author, 90), :alt => author.name), author %></li>
  <% end %>
</ul>