<div class="page-header">
  <h1><%= @project.name %></h1>
</div>

<% @author.current_problems_in(@project).group_by(&:diagnosis).each do |diagnosis, problems| %>
  <h3><%= diagnosis.metric.name%></h3>
  <table class='zebra-striped'>
    <thead>
      <tr>
        <th>Problem</th>
        <th>File</th>
        <th>Line</th>
      </tr>    
    </thead>
    <%= render problems%>
  </table>
<% end %>