.stats {
  background-color: #F5F5F5;
  border-radius: 6px 6px 6px 6px;
  padding: 20px;
  float:left;
  width:17%;
  h2 { margin-top:-6px; }
  p {
    color: #444;
    font-size: 4.2em;
    margin: 33px 0 52px;
    text-align: center;
    font-weight:bold;
  }
  .label {
    font-weight:normal;
    vertical-align:middle;
  }
}

#graph {
  float:right;
  width:76%;
}

table {
  td { padding:7px 10px 3px; }
  td.avatar, th.avatar {
    padding:1px;
    width:35px;
  }
  img { display:block }
}

a.project {
  background-color: #F5F5F5;
  border-radius: 6px 6px 6px 6px;
  padding: 20px;
  text-align:center;
  position:relative;
  width:120px;
  display:block;
  &:hover {
    background-color: #EEE;
    text-decoration:none;
  }
  h2 {
    font-size:2.6em;
    margin-bottom:15px;
  }
}

.count {
  z-index:2;
  cursor:pointer;
  background: #CC0000;
  color: white;
  border: 2px solid white;
  font-size: 0.8em;
  font-weight: bold;
  position: absolute;
  line-height: 100%;
  padding: 0.5em 0.7em;
  right: -1.2em;
  top: -0.7em;
  border-radius:1.2em;
  box-shadow:1px 1px 1px rgba(0, 0, 0, 0.5);
}

